body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(135deg,#ff9a9e,#fad0c4);
    margin:0;
}

/* Main container */
.pocket-container{
    width:380px;
    margin:80px auto;
    padding:30px;
    background:white;
    border-radius:10px;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
    text-align:center;
}

/* Heading */
.pocket-container h2{
    margin-bottom:20px;
    color:#333;
}

/* Select */
.pocket-container select{
    width:100%;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

/* Inputs */
.pocket-container input{
    width:95%;
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
}

/* Buttons */
.pocket-container button{
    width:100%;
    padding:10px;
    border:none;
    border-radius:6px;
    background:#ff758c;
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:0.3s;
}

/* Hover */
.pocket-container button:hover{
    background:#ff4b6e;
}